<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.story.change.web.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.story.change.web.model.User" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="user_phone" property="phone" jdbcType="VARCHAR" />
    <result column="user_avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="user_name" property="name" jdbcType="VARCHAR" />
    <result column="user_pwd" property="pwd" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    t.id, t.user_phone, t.user_avatar, t.user_name, t.user_pwd
    from
    db_user t
    where
    t.user_phone = #{phone,jdbcType=VARCHAR}
  </select>

  <insert id="insert" useGeneratedKeys="true" parameterType="com.story.change.web.model.User" >
    insert into
    db_user (user_phone, user_avatar, user_name, user_pwd)
    values
    (#{phone,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPhone" parameterType="com.story.change.web.model.User" >
    update
    db_user t
    set
    t.user_avatar = #{avatar,jdbcType=VARCHAR}, t.user_name = #{name,jdbcType=VARCHAR}, t.user_pwd = #{pwd,jdbcType=VARCHAR}
    where
    t.user_phone = #{phone,jdbcType=VARCHAR}
  </update>
</mapper>